openapi: 3.1.0
info:
  title: 库街区（鸣潮）社区与签到 API
  version: "3.1.3"
  description: |
    库街区 APP（`com.kurogame.kjq`）API，用于鸣潮（Wuthering Waves）游戏签到、
    社区签到与社区每日任务。

    所有接口基础域名 `https://api.kurobbs.com`，请求体统一为
    `application/x-www-form-urlencoded`。

    # 鉴权与请求头

    所有请求需携带以下头部（本项目实现见 `src/gacha_sign/platforms/kuro.py`）：

    | 头部 | 说明 |
    | --- | --- |
    | `source` | ``android``（APP 抓包）或 ``h5``（网页登录）。JWT 与创建时的 source 绑定。 |
    | `version` | APP 版本号，如 ``3.1.3``（android）/ ``3.2.2``（h5） |
    | `token` | JWT（`eyJ...`，有效期约 30 天），APP 抓包或网页登录获取。JWT 与创建时的 ``source`` 绑定，程序自动检测并缓存。 |
    | `devCode` | 设备指纹，32 位大写 hex |
    | `Content-Type` | `application/x-www-form-urlencoded` |
    | `User-Agent` | okhttp 风格为 `okhttp/3.11.0`；游戏签到用 WebView UA |

    **游戏签到接口**（`/encourage/signIn/*`）必须额外带 WebView 风格头，否则被
    WAF 拦截（code 102）：`Origin: https://web-static.kurobbs.com`、
    `Referer: https://web-static.kurobbs.com/`、
    `X-Requested-With: com.kurogame.kjq`、浏览器 `User-Agent`、
    `devCode` 形如 `0.0.0.0, <UA> KuroGameBox/3.1.3`。

    # 响应封套

    ```json
    { "code": 200, "msg": "请求成功", "data": {...}, "success": true, "traceId": "..." }
    ```

    常见 `code`：`200` 成功、`1511` 当日已签到、`1513` 用户信息异常、
    `220` token 过期、`102` WAF 拦截。

    # 常量

    - 鸣潮 `gameId` = `3`
    - 鸣潮 `serverId` = `76402e5b20be2c39f095a152090afddc`
    - 社区签到 `gameId` = `2`

    > 响应 schema 基于真实抓包（`scripts/probe_api.py` 探测），仅标注关键字段，
    > 其余字段以 `additionalProperties: true` 兜底。
servers:
  - url: https://api.kurobbs.com
    description: 库街区 API
tags:
  - name: auth
    description: 用户信息与凭证
  - name: game_checkin
    description: 游戏签到（鸣潮，领游戏内奖励）
  - name: bbs_checkin
    description: 社区签到（领社区金币）
  - name: bbs_tasks
    description: 社区每日任务（浏览/点赞/分享，领社区金币）

components:
  securitySchemes:
    KuroToken:
      type: apiKey
      in: header
      name: token
      description: 抓包获取的 JWT。本项目用 `apiKey` 近似建模，实际还需 `source`、`version`、`devCode` 等头部（见 info.description）。
  schemas:
    RoleKey:
      type: object
      description: 鸣潮角色标识（游戏签到接口共用）。
      required: [gameId, serverId, roleId, userId]
      properties:
        gameId: { type: string, example: "3", description: 鸣潮 = 3 }
        serverId: { type: string, example: 76402e5b20be2c39f095a152090afddc }
        roleId: { type: string }
        userId: { type: string }
    Envelope:
      type: object
      required: [code, msg, success]
      properties:
        code:
          type: integer
          description: 业务码，`200` 成功。
          example: 200
        msg:
          type: string
          example: 请求成功
        success:
          type: boolean
        data:
          description: 业务数据，结构随接口而异。
        traceId:
          type: string
    Mine:
      type: object
      properties:
        userId: { type: string, example: "10000000" }
        userName: { type: string }
        goldNum: { type: integer, description: 社区金币余额 }
        mobile: { type: string, description: 脱敏手机号 }
        gender: { type: integer }
        ipRegion: { type: string }
      additionalProperties: true
    Role:
      type: object
      properties:
        roleId: { type: string, example: "100000000" }
        roleName: { type: string }
        serverId: { type: string, example: 76402e5b20be2c39f095a152090afddc }
        userId: { type: string }
        gameId: { type: integer, example: 3 }
        gameLevel: { type: string }
        serverName: { type: string }
        isDefault: { type: boolean }
      additionalProperties: true
    SignInState:
      type: object
      properties:
        isSigIn: { type: boolean, description: 今日是否已签到 }
        omissionNnm: { type: integer, description: 漏签天数 }
        sigInNum: { type: integer, description: 已签天数 }
        expendGold: { type: integer, description: 补签消耗金币/次 (200) }
        expendNum: { type: integer, description: 每月可补签次数 (3) }
        repleNum: { type: integer, description: 已补签次数 }
        signInGoodsConfigs:
          type: array
          items:
            type: object
            properties:
              goodsName: { type: string }
              goodsNum: { type: integer }
              serialNum: { type: integer, description: 第几天 (0 起) }
              isGain: { type: boolean }
            additionalProperties: true
        eventStartTimes: { type: string }
        eventEndTimes: { type: string }
      additionalProperties: true
    SignInRecord:
      type: object
      properties:
        goodsName: { type: string }
        goodsNum: { type: integer }
        sigInDate: { type: string, example: "2026-08-09 05:53:20" }
        sendState: { type: boolean }
        type: { type: integer }
      additionalProperties: true
    BbsSignInInfo:
      type: object
      properties:
        hasSignIn: { type: boolean, description: 今日是否已社区签到 }
        continueDays: { type: integer, description: 连签天数 }
      additionalProperties: true
    TaskProcess:
      type: object
      properties:
        currentDailyGold: { type: integer, description: 今日已获金币 }
        maxDailyGold: { type: integer, description: 每日金币上限 }
        dailyTask:
          type: array
          description: 每日任务（浏览/点赞/签到等）
          items:
            $ref: "#/components/schemas/TaskItem"
        growTask:
          type: array
          description: 成长任务
          items:
            $ref: "#/components/schemas/TaskItem"
      additionalProperties: true
    TaskItem:
      type: object
      properties:
        remark: { type: string, example: 浏览3篇帖子 }
        completeTimes: { type: integer }
        needActionTimes: { type: integer }
        gainGold: { type: integer }
        process: { type: number, description: 完成度 0~1 }
        skipType: { type: integer }
      additionalProperties: true
    ForumPost:
      type: object
      properties:
        postId: { type: string }
        postTitle: { type: string }
        postType: { type: integer }
        userId: { type: string }
        userName: { type: string }
        gameForumId: { type: integer }
        gameId: { type: integer }
        likeCount: { type: integer }
        commentCount: { type: integer }
        browseCount: { type: string }
      additionalProperties: true

paths:
  /user/mineV2:
    post:
      tags: [auth]
      summary: 当前用户信息（凭证校验）
      description: 用于校验 token 是否有效；成功时返回用户基础信息。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                type: { type: integer, example: 1, description: 无 viewUserId 时传 1 }
                viewUserId: { type: string, description: 指定用户 ID（可选） }
      responses:
        "200":
          description: 用户信息
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          mine: { $ref: "#/components/schemas/Mine" }

  /user/role/findRoleList:
    post:
      tags: [auth, game_checkin]
      summary: 获取游戏角色列表
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [gameId]
              properties:
                gameId: { type: string, example: "3", description: 鸣潮 = 3 }
      responses:
        "200":
          description: 角色列表
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Role" }

  /encourage/signIn/initSignInV2:
    post:
      tags: [game_checkin]
      summary: 查询签到状态（含漏签/补签信息）
      description: 需 WebView 风格头。返回当月签到状态、漏签天数、每日奖励配置、补签消耗。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/RoleKey"
      responses:
        "200":
          description: 签到状态
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/SignInState" }

  /encourage/signIn/v2:
    post:
      tags: [game_checkin]
      summary: 执行游戏签到
      description: 需 WebView 风格头。`code=1511` 表示当日已签到。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: "#/components/schemas/RoleKey"
                - properties:
                    reqMonth: { type: string, description: 当前月份 MM, example: "08" }
      responses:
        "200":
          description: 签到结果（成功 / 已签到 / token 过期 等通过 code 区分）
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - description: "`code` 200=成功，1511=已签到，220=token 过期，1513=用户信息异常。"

  /encourage/signIn/repleSigInV2:
    post:
      tags: [game_checkin]
      summary: 补签（消耗 200 金币/次，每月最多 3 次）
      description: 需 WebView 风格头。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: { $ref: "#/components/schemas/RoleKey" }
      responses:
        "200":
          description: 补签结果
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /encourage/signIn/queryRecordV2:
    post:
      tags: [game_checkin]
      summary: 查询签到奖励领取记录
      description: 需 WebView 风格头。用于查询今日签到奖励名。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: { $ref: "#/components/schemas/RoleKey" }
      responses:
        "200":
          description: 记录列表（按天）
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/SignInRecord" }

  /user/signIn/info:
    post:
      tags: [bbs_checkin]
      summary: 查询社区签到状态
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [gameId]
              properties:
                gameId: { type: string, example: "2", description: 社区签到 gameId = 2 }
      responses:
        "200":
          description: 社区签到状态
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/BbsSignInInfo" }

  /user/signIn:
    post:
      tags: [bbs_checkin]
      summary: 执行社区签到（无需验证码）
      description: 成功返回 30 社区金币（`data.gainVoList` 中 `gainTyp=2` 项）。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [gameId]
              properties:
                gameId: { type: string, example: "2" }
      responses:
        "200":
          description: 签到结果
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          gainVoList:
                            type: array
                            items:
                              type: object
                              properties:
                                gainTyp: { type: integer, description: "2 = 金币" }
                                gainValue: { type: integer }

  /encourage/level/getTaskProcess:
    post:
      tags: [bbs_tasks]
      summary: 查询社区任务进度
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [gameId, userId]
              properties:
                gameId: { type: string, example: "0" }
                userId: { type: string }
      responses:
        "200":
          description: 任务进度
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/TaskProcess" }

  /encourage/gold/getTotalGold:
    post:
      tags: [bbs_tasks]
      summary: 查询社区金币余额
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                gameId: { type: string, example: "0" }
      responses:
        "200":
          description: 金币余额
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          goldNum: { type: integer, example: 110 }

  /forum/list:
    post:
      tags: [bbs_tasks]
      summary: 帖子列表（获取 postId 用于浏览/点赞/分享）
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                forumId: { type: string, example: "9" }
                gameId: { type: string, example: "3" }
                pageIndex: { type: string, example: "1" }
                pageSize: { type: string, example: "20" }
                searchType: { type: string, example: "3" }
                timeType: { type: string, example: "0" }
                topicId: { type: string, example: "0" }
      responses:
        "200":
          description: 帖子列表
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          postList:
                            type: array
                            items: { $ref: "#/components/schemas/ForumPost" }
                          topList:
                            type: array
                            items: { $ref: "#/components/schemas/ForumPost" }
                          hasNext: { type: integer }

  /forum/getPostDetail:
    post:
      tags: [bbs_tasks]
      summary: 浏览帖子（每日 3 篇 → 20 金币）
      description: 触发一次浏览计入社区任务。
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [postId]
              properties:
                postId: { type: string }
                isOnlyPublisher: { type: string, example: "0" }
                showOrderType: { type: string, example: "2" }
      responses:
        "200":
          description: 帖子详情
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /forum/like:
    post:
      tags: [bbs_tasks]
      summary: 点赞帖子（每日 5 次 → 20 金币）
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [gameId, postId]
              properties:
                forumId: { type: string }
                gameId: { type: string, example: "3" }
                postId: { type: string }
                likeType: { type: string, example: "1" }
                operateType: { type: string, example: "1", description: "1=点赞" }
                postCommentId: { type: string, example: "0" }
                postCommentReplyId: { type: string, example: "0" }
                postType: { type: string, example: "1" }
                toUserId: { type: string }
      responses:
        "200":
          description: 点赞结果
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /encourage/level/shareTask:
    post:
      tags: [bbs_tasks]
      summary: 分享帖子（每日 1 次 → 10 金币）
      security: [{ KuroToken: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [gameId, postId]
              properties:
                gameId: { type: string, example: "3" }
                postId: { type: string }
      responses:
        "200":
          description: 分享结果
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

security:
  - KuroToken: []
