openapi: 3.1.0
info:
  title: 森空岛（明日方舟 / 终末地）签到与社区 API
  version: "1.52.1"
  description: |
    森空岛 APP（`com.hypergryph.skland`）API。凭证为**手机号 + 密码**，全程自动登录。

    # 登录链路

    1. `POST /user/auth/v1/token_by_phone_password`（鹰角通行证）→ `token`
    2. `POST /user/oauth2/v2/grant`（带 token + appCode）→ 授权 `code`
    3. `POST /web/v1/user/auth/generate_cred_by_code`（森空岛）→ `cred` + `token`
    4. 之后所有 `zonai.skland.com` 接口用 `cred` + HMAC `sign` 签名访问

    # 数美设备指纹 dId

    首次需向 `fp-it.portal101.cn/deviceprofile/v4` 提交一组 DES/AES/RSA 加密的
    浏览器指纹数据，换取 `dId`（缓存复用）。算法见
    `src/gacha_sign/platforms/skland.py`（字段混淆映射表 `_DES_RULE`）。

    # 请求签名（zonai.skland.com）

    所有业务接口需计算 HMAC 签名放入 `sign` 头：

    ```
    ts = unix秒 - 2
    headerCa = {"platform":"3","timestamp":ts,"dId":dId,"vName":"1.0.0"}
    s = path + bodyOrQuery + ts + json(headerCa)        # GET 用 query，POST 用 body
    mac = HMAC_SHA256(credToken, s)
    sign = md5(mac)
    ```

    头部：`cred`、`sign`、`platform: 3`、`timestamp`、`dId`、`vName: 1.0.0`。
    终末地签到额外需 `sk-game-role: 3_{roleId}_{serverId}`、
    `Origin/Referer: https://game.skland.com/`。

    > 本项目用 `apiKey` 近似建模 `cred`/`sign`，签名算法见上方与源码。

    # 响应封套

    - 森空岛（zonai）：`{code, message, timestamp, data}`，`code=0` 成功。
    - 鹰角通行证（as.hypergryph.com）：`{status, msg, data}`，`status=0` 成功。

    # gameId

    社区 gameId：明日方舟 = `1`、终末地 = `3`。游戏签到 `appCode`：
    `arknights` / `endfield`。

    每日可自动完成：检票(5) + 浏览(5) + 点赞(10) + 分享(3) = **23 积分/游戏**。

    > 响应 schema 基于真实抓包（`scripts/probe_api.py`）。
servers:
  - url: https://as.hypergryph.com
    description: 鹰角通行证（登录）
  - url: https://zonai.skland.com
    description: 森空岛业务 API
  - url: https://fp-it.portal101.cn
    description: 数美设备指纹
tags:
  - name: auth
    description: 登录链路（密码 → token → grant → cred）
  - name: device
    description: 数美设备指纹 dId 生成
  - name: game_checkin
    description: 游戏签到（明日方舟 / 终末地）
  - name: bbs_checkin
    description: 登岛检票
  - name: bbs_tasks
    description: 社区每日任务（浏览 / 点赞 / 分享）

components:
  securitySchemes:
    SklandCred:
      type: apiKey
      in: header
      name: cred
      description: 登录后获得的 cred，配合 sign 头使用（见 info.description 签名算法）。
  schemas:
    SklandEnvelope:
      type: object
      required: [code, message]
      properties:
        code: { type: integer, description: "0 = 成功", example: 0 }
        message: { type: string, example: OK }
        timestamp: { type: string }
        data:
          description: 业务数据，结构随接口而异。
    PassportEnvelope:
      type: object
      required: [status, msg]
      properties:
        status: { type: integer, description: "0 = 成功", example: 0 }
        msg: { type: string, example: OK }
        data:
          description: 业务数据。
    Binding:
      type: object
      properties:
        appCode: { type: string, example: endfield }
        appName: { type: string }
        bindingList:
          type: array
          items:
            type: object
            properties:
              uid: { type: string }
              gameId: { type: integer }
              nickName: { type: string }
              channelName: { type: string }
              roles:
                type: array
                items:
                  type: object
                  properties:
                    roleId: { type: string }
                    serverId: { type: string }
                    nickname: { type: string }
                    level: { type: integer }
                  additionalProperties: true
            additionalProperties: true
      additionalProperties: true
    ScoreCheck:
      type: object
      properties:
        gameId: { type: integer }
        checked: { type: integer, description: "1 = 今日已检票" }
      additionalProperties: true
    DailyTaskCount:
      type: object
      properties:
        id: { type: integer, description: 任务 id }
        gameId: { type: integer }
        count: { type: integer, description: 今日完成次数 }
      additionalProperties: true

paths:
  /user/auth/v1/token_by_phone_password:
    post:
      tags: [auth]
      summary: 鹰角通行证密码登录
      servers: [{ url: https://as.hypergryph.com }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone: { type: string }
                password: { type: string }
      responses:
        "200":
          description: 返回 hypergryph token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PassportEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          token: { type: string }

  /user/oauth2/v2/grant:
    post:
      tags: [auth]
      summary: 用 token 换取 OAuth 授权码
      servers: [{ url: https://as.hypergryph.com }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appCode, token, type]
              properties:
                appCode: { type: string, example: 4ca99fa6b56cc2ba }
                token: { type: string, description: 上一步的 hypergryph token }
                type: { type: integer, example: 0 }
      responses:
        "200":
          description: 返回授权 code
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PassportEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          code: { type: string }

  /web/v1/user/auth/generate_cred_by_code:
    post:
      tags: [auth]
      summary: 用授权码换取森空岛 cred + token
      servers: [{ url: https://zonai.skland.com }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, kind]
              properties:
                code: { type: string }
                kind: { type: integer, example: 1 }
      responses:
        "200":
          description: 返回 cred 与签名用 token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          cred: { type: string }
                          token: { type: string, description: HMAC 签名密钥 }

  /deviceprofile/v4:
    post:
      tags: [device]
      summary: 生成数美设备指纹 dId
      description: |
        提交经 DES/AES/RSA 加密的浏览器指纹。响应 `code=1100` 时
        `detail.deviceId` 即为指纹，使用时加前缀 `B`。算法见源码。
      servers: [{ url: https://fp-it.portal101.cn }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appId: { type: string, example: default }
                organization: { type: string }
                compress: { type: integer, example: 2 }
                encode: { type: integer, example: 5 }
                os: { type: string, example: web }
                data: { type: string, description: AES 加密后的指纹数据(hex) }
                ep: { type: string, description: RSA 加密后的 UUID(base64) }
      responses:
        "200":
          description: "`code=1100` 成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: integer, example: 1100 }
                  detail:
                    type: object
                    properties:
                      deviceId: { type: string }

  /api/v1/game/player/binding:
    get:
      tags: [auth, game_checkin]
      summary: 获取绑定的游戏角色列表
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      responses:
        "200":
          description: 绑定列表
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items: { $ref: "#/components/schemas/Binding" }

  /api/v1/game/attendance:
    post:
      tags: [game_checkin]
      summary: 明日方舟游戏签到
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameId, uid]
              properties:
                gameId: { type: integer, description: 来自 binding 的 gameId }
                uid: { type: string }
      responses:
        "200":
          description: 签到结果（`message` 含「已签到」表示当日已签）
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          awards:
                            type: array
                            items:
                              type: object
                              properties:
                                count: { type: integer }
                                resource:
                                  type: object
                                  properties:
                                    name: { type: string }

  /web/v1/game/endfield/attendance:
    post:
      tags: [game_checkin]
      summary: 终末地游戏签到
      description: "需额外头 `sk-game-role: 3_{roleId}_{serverId}`、`Origin/Referer: https://game.skland.com/`。"
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      parameters:
        - name: sk-game-role
          in: header
          required: true
          schema: { type: string, example: 3_100000000_1 }
      responses:
        "200":
          description: 签到结果
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          awards:
                            type: array
                            items:
                              type: object
                              additionalProperties: true

  /api/v1/score/ischeckin:
    get:
      tags: [bbs_checkin]
      summary: 查询登岛检票状态
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      responses:
        "200":
          description: 各游戏检票状态
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items: { $ref: "#/components/schemas/ScoreCheck" }

  /api/v1/score/checkin:
    post:
      tags: [bbs_checkin]
      summary: 执行登岛检票（5 积分/游戏）
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameId]
              properties:
                gameId: { type: integer, example: 3, description: "明日方舟=1 终末地=3" }
      responses:
        "200":
          description: 检票结果
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SklandEnvelope" }

  /api/v1/action/item/like:
    post:
      tags: [bbs_tasks]
      summary: 点赞内容（每日 10 次 → 10 积分）
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [itemId]
              properties:
                itemId: { type: string }
      responses:
        "200":
          description: 点赞结果
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SklandEnvelope" }

  /api/v1/score/share:
    post:
      tags: [bbs_tasks]
      summary: 分享（每游戏每日 1 次 → 3 积分）
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameId]
              properties:
                gameId: { type: integer, example: 3 }
      responses:
        "200":
          description: 分享结果
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SklandEnvelope" }

  /api/v1/item:
    get:
      tags: [bbs_tasks]
      summary: 浏览内容（每日 5 次 → 5 积分）
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string, description: 内容 id }
        - name: teenager
          in: query
          schema: { type: integer, example: 0 }
      responses:
        "200":
          description: 内容详情
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SklandEnvelope" }

  /api/v1/rec/index:
    get:
      tags: [bbs_tasks]
      summary: 推荐流（获取内容 id）
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      parameters:
        - { name: gameId, in: query, schema: { type: integer, example: 0 } }
        - { name: cateId, in: query, schema: { type: integer, example: 0 } }
        - { name: sortType, in: query, schema: { type: integer, example: 1 } }
        - { name: pageToken, in: query, schema: { type: string } }
        - { name: pageSize, in: query, schema: { type: integer, example: 20 } }
      responses:
        "200":
          description: 推荐流
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                item:
                                  type: object
                                  properties:
                                    id: { type: string }
                                  additionalProperties: true

  /api/v1/score/tasks:
    get:
      tags: [bbs_tasks]
      summary: 任务定义与积分等级
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      responses:
        "200":
          description: 全部游戏任务定义 + 积分等级
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                gameId: { type: integer }
                                gameName: { type: string }
                                tasks:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id: { type: integer }
                                      name: { type: string }
                                      score: { type: integer }
                                      maxCount: { type: integer }

  /api/v1/score/daily-task:
    get:
      tags: [bbs_tasks]
      summary: 每日任务完成进度
      servers: [{ url: https://zonai.skland.com }]
      security: [{ SklandCred: [] }]
      parameters:
        - name: gameId
          in: query
          required: true
          schema: { type: integer, example: 3 }
      responses:
        "200":
          description: 任务进度
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SklandEnvelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items: { $ref: "#/components/schemas/DailyTaskCount" }
